body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d6c06d;
    background: radial-gradient(#0a0014, #000000);
    background-repeat: repeat-y;
    background-size: 100% 44px;
    text-shadow: 3px 3px 0px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: fit-content;
}
.headly > img {
    display: flex;
    margin: auto;
    width: max(55%, min(100%, 200px));
    max-height: 100%;
    transition: 0.3s ease all;
}
.headly > h4 {
    color: #d6c06d;
    margin: auto;
    padding-bottom: 10px;
    font-size: large;
    transition: 0.3s ease all;
}

@media screen and (max-width: 430px) {
    .headly > h4 {
        font-size: small;
        transition: 0.3s ease all;
    }
    
}

@media screen and (min-width: 1150px) {
    .headly > h4 {
        font-size: xx-large;
        transition: 0.3s ease all;
    }
    
}


.headly {
    display: block;
    background-image: url("images/TryptamineBackground.png");
    box-shadow: inset 0px 0px 20px 13px rgba(0,0,0,0.67);
    text-align: center;
    width: 100%;
    outline: 5px groove #d6c06d;
    border-radius: 10px;
}

.MainNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(images/TryptamineBackground.png);
    box-shadow: inset 0px 0px 20px 13px rgba(0,0,0,0.67);
    outline: 5px groove #d6c06d;
    border-radius: 10px;
    margin-top: 25px;
    flex-wrap: wrap;
    max-height: fit-content;
    transition: 0.3s ease all;
}

.MainNav > a {
    text-align: center;
    color: #d6c06d;
    filter: drop-shadow(0px 0px 0px #00000000);
    background-image: url(images/TryptamineBackground.png);
    margin: 1rem;
    padding: 0.1rem 1rem;
    outline: 3px groove #d6c06d;
    border-radius: 8px;
    transition: 0.3s ease all;
    
}

a {
    color:#54f9ff;
    outline-color:#54f9ff;
    text-decoration: none;
}

p {
    margin: 10px;
    font-size: x-large;
}

.MainNav > a:hover {
    color:#54f9ff;
    outline-color:#54f9ff;
    filter: drop-shadow(5px 5px 5px #000000);
    transform: translateY(-2px);
    transform: scale(1.1, 1.1);
    background-image: url(images/buttonbackgroundhover.png);
}

.MainNav > a:active {
    color: #ffffff;
    outline: 2px groove #ffffff;
    background-image: url(images/buttonbackgroundpressed.png);
    transform: scale(0.95, 0.95);
}

.bodygrid {
    display: grid;
    grid-template-columns: 50% 0.3fr 0.8fr;
    grid-auto-rows: auto;
    margin-top: 25px;
    grid-template-areas: 
    "aboutgrid . picgrid"
    ". . picgrid";
    transition: 0.3s ease all;
}

@media screen and (max-width: 850px) {
    .bodygrid {
        display: grid;
        grid-template-columns: 50% 0.1fr 1fr;
        grid-auto-rows: auto;
        margin-top: 25px;
        grid-template-areas: 
        "aboutgrid . picgrid"
        "aboutgrid . .";
        transition: 0.3s ease all;
    }
    
}

.about {
    display: block;
    text-align: center;
    background-image: url(images/TryptamineBackground.png);
    box-shadow: inset 0px 0px 20px 13px rgba(0,0,0,0.67);
    outline: 5px groove #d6c06d;
    border-radius: 10px;
    flex-wrap: wrap;
    max-height: fit-content;
}

.pictures {
    display: block;
    text-align: center;
    background-image: url(images/TryptamineBackground.png);
    box-shadow: inset 0px 0px 20px 13px rgba(0,0,0,0.67);
    outline: 5px groove #d6c06d;
    border-radius: 10px;
    max-height: 1fr;
}

.pictures > img {
    max-width: 90%;
    margin-top: 3%;
    margin-bottom: 5%;
    border-radius: 25%;
    outline: 5px groove #d6c06d;
}