body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0a0014;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headly > img {
    width: 55%;
    display: block;
    margin: auto;
}
.headly > h4 {
    color: #d6c06d;
    margin: auto;
    padding-bottom: 10px;
}

.headly {
    display: block;
    background-image: url("Images/TryptamineBackground.png");
    text-align: center;
    width: 100%;
    text-shadow: 3px 3px 0px #000000;;
    outline: 5px groove #d6c06d;
    border-radius: 10px;
}

.MainNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    background-image: url(Images/TryptamineBackground.png);
    outline: 5px groove #d6c06d;
    border-radius: 10px;
    margin-top: 25px;
}

a {
    text-align: center;
    color: #d6c06d;
    background-image: url(Images/TryptamineBackground.png);
    margin: 1rem;
    padding: 0.1rem 1rem;
    outline: 3px groove #d6c06d;
    border-radius: 8px;
    transition: 0.3s ease all;
}

a:hover {
    color:#54f9ff;
    outline-color:#54f9ff;
    transform: translateY(-2px);
    transform: scale(1.1, 1.1);
    background-image: url(Images/buttonbackgroundhover.png);
}

a:active {
    color: #ffffff;
    outline: 2px groove #ffffff;
    background-image: url(Images/buttonbackgroundpressed.png);
    transform: scale(0.95, 0.95);
}


