body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d6c06d;
    text-shadow: 3px 3px 0px #000000;
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}


.background {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    background: radial-gradient(#0a0014, #000000);
    background-repeat: repeat-y;
    background-size: 100% 44px;
    display: grid;
    height: 100%;
    grid-template-areas: "stack";
    place-items: center;
    margin: 0px;
}

.foreground {
    display: grid;
    grid-area: stack;
}
